/* admin.module.css */
.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.adminHeader {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Adiciona flexibilidade para ajustar os botões em várias linhas se necessário */
  gap: 1rem;
  margin-bottom: 2rem;
}

.buttonGroup button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.sectionContainer {
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
  padding: 0 1rem; /* Adicionado padding para evitar corte na direita */
  box-sizing: border-box; /* Garantir que o padding seja incluído na largura total */
}

.sectionHeader {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.commentList {
  list-style: none;
  padding: 0;
}

.commentListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

.commentContent {
  flex-grow: 1;
  margin-right: 1rem;
}

.commentActions {
  display: flex;
  gap: 0.5rem;
}

/* Styles specific to StatusPanel */
.statusPanel {
  background-color: var(--bg-color); /* Use CSS variables to adapt to dark mode */
  color: var(--text-color); /* Use CSS variables to adapt to dark mode */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  margin-top: 2rem; /* Adicionado para dar espaço acima do painel */
}

.statusPanelHeader {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.statusPanelContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsividade */
@media (max-width: 600px) {
  .adminHeader {
    font-size: 2rem; /* Reduzir o tamanho do título */
  }

  .buttonGroup {
    flex-direction: column;
    align-items: stretch;
  }

  .buttonGroup button {
    width: 100%;
    font-size: 0.875rem;
  }

  .sectionContainer {
    padding: 0 1rem; /* Adicionar padding para evitar corte na direita */
    box-sizing: border-box; /* Garantir que o padding seja incluído na largura total */
  }

  .sectionHeader {
    font-size: 1.25rem; /* Reduzir o tamanho do título */
  }
}
