.adminContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
  }
  
  .adminHeader {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .postSelector {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  